@import 'mixin';

body{

  // コメント デフォルトのマージンを削除する
  margin: 0;
}

#container{
  position: relative;
  //　コメント 画面の長さを基準にして高さを設定するときに使う
  height: 100vh;
  background-color: teal;
}

.animate-title{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;

  //　コメント inviewのクラスがついたとき
  &.inview{
    opacity: 1;
    & .char{
      // コメント　inline-blockとしない場合、translateのあたいは無視される
      display: inline-block;
      @include animation(
        $name: kf-animate-chars, 
        $duration: 1.5s,
        $timing-function: ease,
        $fill-mode: both
      );
      @for $i from 1 through 9 {
        &:nth-child(#{$i}){
          animation-delay: $i * 0.04s;
        }
      }
    }
  }

  @keyframes kf-animate-chars {
    0%{
      opacity: 0;
      transform: translateY(-100%);
    }

    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }
}
