.footer{
  background-color: $color-grey-dark;
  padding: 10rem 0;
  font-size: 1.4rem;

  &__logo-box{
    
  }

  &__logo{
    width: 15rem;
    height: auto;
  }

  &_navigation{

  }

  &__item{

  }

  &__link{

  }
}
